#mainDiv{
    visibility: hidden;
}

#Welcome{
    height: 130px;
    background-color: powderblue;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-font: calabri;
}

#Welcome img{
    display: block;
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#flexShow{
    height:300px;
    display: flex;
    justify-content: space-between;
}
.showFlex1{
    height: 100px;
    width:100px;
    border:20px;
}
