#mainDiv{
    visibility: hidden;
}

#Welcome{
    height: 130px;
    background-color: powderblue;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-font: calabri;
}

#Welcome img{
    display: block;
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#flexShow{
    height:300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.showFlex1{
    height: 180px;
    width:200px;

}
.showFlex {
    height: 200px;
    width:200px;
    margin-left: 30px;
    margin-right: 30px;

}

.divText{
    position: relative;
    bottom: 100px;
    text-align: center;
    font-size: larger;
    color: white;

}